@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@200&family=Varela+Round&display=swap");

body {
  font-family: "Inconsolata", monospace;
  font-family: "Poppins", sans-serif;
  font-family: "Varela Round", sans-serif;
  background-repeat: no-repeat;
  /* background-size: cover;
    background-position: center center; */
}

 h4{
  color:white;
  margin:auto;
  width: 100%;
  text-align: center;
  font-size: 50px;
  padding-bottom: 50px;
}

.game {
  width: 50%;
  float: left;
}

#gameico {
  width: 120px;
  height: 45px;
  background-size: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}
/* #gameico:hover{
    transform: scale(1.5);
} */

#gameico:hover{
  cursor: default;
}

.store-container::after {
  content: "";
  display: table;
  clear: both;
}
.store-container {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  background: inherit;
  overflow: hidden;
}

.details {
  display: flex;
  color: #fff;

  border-radius: 0px;
  font-family: inherit;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #8432df;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.details:hover {
  transform: scale(1.01);
  box-shadow: inset 400px 400px 0 0 #8432df;
}
.details2 {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 20px 0px;
  font-size: 14px;
  margin-bottom: 13px;
  clear: both;
  width: 100%;
  cursor: pointer;
  color: white;
}

.details2 .saleprice {
  float: right;
  padding-right: 15px;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #B20041;
  background-color: rgb(178, 0, 65, 0.9);
  overflow-x: hidden;
  transition: 0.2s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 35px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.nav{
  color: white;
}
.nav:hover{
  color: #B20041
}
.lock-scroll {
  overflow: visible;
}

.nav i{
  widows: 100px;
  height: 20px;
  font-size: x-large;
  padding-left: 25px;
  padding-top: 10px;
}


.overlay-content a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.overlay-content a:hover:after { 
  width: 100%; 
  left: 0; 
}

ul{
  list-style-type: none;
}


.overlay-content a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}


.loader {
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  text-align: center;
  margin-top: 15%;
  z-index: 10;
  border-top: 5px solid #B20041;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.zero-row{
  display: flex;
  font-size: 10px;
  font-family: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 40px;
  z-index: 1;
  margin:auto;
  padding-bottom: 10px;

}

.zero-column{
  display: flex;
  z-index: 1;
  background-color: #B20041;
  flex: 49.8%;
  border: 1px solid white;
}

.zero-column span{
  font-size: 14px;
  font-family: inherit;
  color: white;
}

.zero-row .title{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20%;
}

.zero-column .price{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 64%;
}
