@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@200&family=Varela+Round&display=swap");

body {
  font-family: "Inconsolata", monospace;
  font-family: "Poppins", sans-serif;
  font-family: "Varela Round", sans-serif;
  background-repeat: no-repeat;
  /* background-size: cover;
    background-position: center center; */
}

 h4{
  color:white;
  margin:auto;
  width: 100%;
  text-align: center;
  font-size: 50px;
  padding-bottom: 50px;
}

.game {
  width: 50%;
  float: left;
}

#gameico {
  width: 120px;
  height: 45px;
  background-size: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}
/* #gameico:hover{
    transform: scale(1.5);
} */

#gameico:hover{
  cursor: default;
}

.store-container::after {
  content: "";
  display: table;
  clear: both;
}
.store-container {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  background: inherit;
  overflow: hidden;
}

.details {
  display: flex;
  color: #fff;

  border-radius: 0px;
  font-family: inherit;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #8432df;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.details:hover {
  transform: scale(1.01);
  box-shadow: inset 400px 400px 0 0 #8432df;
}
.details2 {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 20px 0px;
  font-size: 14px;
  margin-bottom: 13px;
  clear: both;
  width: 100%;
  cursor: pointer;
  color: white;
}

.details2 .saleprice {
  float: right;
  padding-right: 15px;
}


.loader {
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  text-align: center;
  margin-top: 15%;
  z-index: 10;
  border-top: 5px solid #B20041;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.zero-row{
  display: flex;
  font-size: 10px;
  font-family: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 40px;
  z-index: 1;
  margin:auto;
  padding-bottom: 10px;

}

.zero-column{
  display: flex;
  z-index: 1;
  background-color: #B20041;
  flex: 49.8%;
  border: 1px solid white;
}

.zero-column span{
  font-size: 14px;
  font-family: inherit;
  color: white;
}

.zero-row .title{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20%;
}

.zero-column .price{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 64%;
}

.store_title  span{
  color: white;
  font-size: 34px;
  padding: 15px;
  width: 400px;
  text-align: center;
  margin-bottom: 25px;
  border: 3px solid #B20041;
  align-items: center;
}

.store_title{

  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100px;
}

.fa-home{
  z-index: 10;
  color: white;
  margin: 10px 15px 0 15px;
  font-size:20px;
}

.fa-home:hover{
  cursor: pointer;
  color: #B20041;
}